services:
  crawler:
    build: .
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis

  redis:
    image: redis
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data

  redis_ui:
    image: redis/redisinsight:latest
    ports:
      - 5540:5540
    depends_on:
      - redis
    volumes:
      - redis_ui_data:/data

volumes:
  redis_data:
  redis_ui_data:
